OPENAI_API_KEY="<your-key>"
GEMINI_API_KEY="<your-key>"
ANTHROPIC_API_KEY="<your-key>"
ELEVENLABS_API_KEY="<your-key>"
TABLESAGE_DATA_DIR="<custom-data-directory>" # Set this to install campgains in a custom directory, not the os platform standard location